h1{
    text-transform:uppercase;
    font-family:verdana;
    color:green;
    text-align:center;
}
input{
    border:5px solid green;
    border-radius:8px;
    font-size:1.1rem;
    padding:4px;
    margin-left:270px;
}
button{
     width:100px;
     font-size:1.2em;
     margin-left:3px;
     color:white;
     background-color:blue;
     border-radius:10px;
}
@media screen(max-width:500px){
    
        h1{
            color:yellow;
            word-spacing:2px;

    }
   

}